@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}
:root{
    --a:0;
}
.body{
    background-color: back;
    color:white;
}
.border{
    border: 2px solid red;
    
}
.left{
    width:25vw;
    padding:5px;
    height:97.5vh;
    
}
.hamburgur_close{
    position:absolute;
    right:8px;
    top:8px;
}
.right{
    width:75vw;
    height:97.8vh;
   
     
}
.home ul li{
    color:white;
    width:24px;
    display:flex;
    list-style: none;
    gap:20px;
    padding-top:20px;
    font-weight: bold;
    align-items: center;
}
.mainnav{
    align-items: center;
    
    display:flex;
}

.heading{
    color:white;
    width:100%;
    display:flex;
    list-style: none;
    gap:15px;
    padding-top:15px;
    font-weight: bold;
    align-items: center;
    font-size:16px;
}
.heading>img{
    width:24px;
  
}
.songlist{
    font-size: 12px;
}
.songlist ul{
    margin-top:30px;
    padding: 0px 10px;
    overflow-y:scroll;
    max-height: 290px;

}
.songlist ul li{
   list-style-type:decimal;
   display:flex;
   justify-content:  space-between;
   gap:10px;
   cursor: pointer;
   padding: 12px 0;
   border:2px solid rgb(54, 52, 52); 
   border-radius: 0px; 
   margin:6.5px 0px ;
   padding:5px ;
   overflow: hidden !important;
}
.info{
    max-width: 105px;
    word-wrap: break-word;
    word-break: break-all;
    overflow:hidden;
}
.songname{
    width:105px;
    height:30px;
}
.playnow{
    display:flex;
    gap:5px;
    align-items: center;
    overflow: hidden;
}
.playnow span{
    width:50px;
}
.footer{
    display:flex;
    font-size: 8px;
    color:grey;
    gap:14px;
    position: absolute;
    bottom:0;
    padding:34px 0px;
    
}
.footer a{
    color:grey;
}
.right{
    margin: 8px 0px;
    position:relative;
}
.library{
    height:64vh;
    position: relative;
    

}
.header{
    display:flex;
    justify-content: space-between;
    background-color: #212121;
    border-radius: 7px 7px 0 0;
    align-items: center;
}
.header> *{
    padding:10px;
}
.prev-svg{
   
      display:inline-block;
      position:relative;
      width: 12px; /* Adjust the width and height as needed */
      height: 12px;
      background-color: #161616; /* Circular grey background color */
      border-radius: 50%; /* Make the container circular */
      padding: 9px; 
      box-sizing: content-box;
}
.prev-svg svg {
    display: block;
    margin: auto; /* Center the SVG within the container */
    position: absolute;
    top: 50%; /* Adjust top position to center vertically */
    left: 65%; /* Adjust left position to center horizontally */
    transform: translate(-50%, -50%); /* Center the SVG precisely */
  }
.next-svg{
   
      display:inline-block;
      position:relative;
      width: 12px; /* Adjust the width and height as needed */
      height: 12px;
      background-color: #161616; /* Circular grey background color */
      border-radius: 50%; /* Make the container circular */
      padding: 9px; 
      box-sizing: content-box;
}
.next-svg svg {
    display: block;
    margin: auto; /* Center the SVG within the container */
    position: absolute;
    top: 50%; /* Adjust top position to center vertically */
    left: 38%; /* Adjust left position to center horizontally */
    transform: translate(-50%, -50%); /* Center the SVG precisely */
  }
.spotifyplaylist{
    padding:16px;
}

.signupbtn{
    font-size:18px;
    cursor: pointer;
    /* transition can be removed */
    transition: transform 0.1s ease-out;
    background-color: #212121;
    color:rgb(203, 203, 203);
    border:none;
    outline:none;
    font-weight: bold;
    padding:10px 24px;
    
}
.signupbtn:hover{
    transform: scale(1.05);
    color:white;
}
.loginbtn{
    font-size:18px;
    cursor: pointer;
    
    background-color:white;
    color:black;
    border:none;
    outline:none;
    font-weight: bold;
    padding:13px 35px;
    border-radius: 28px;
    
    
}
.loginbtn:hover{
    transform: scale(1.05);
    
}
.spotifyplaylist .card{
    width:135px;
    padding:1px;
    background-color: #252525;
    border-radius:7px;
    
}
.card-container{
    display:flex;
    
    margin: 20px 15px 20px 15px;
    gap:30px;
    flex-wrap: wrap;
    max-height:63vh;
    overflow-y:scroll;
}
.card{
    position:relative;
    cursor: pointer;

}
.card:hover{
    background-color: rgb(59, 59, 59);
    transition: all  0.3s   ;
    --a:1;
}
.playbutton svg{
     height:30px;
     width:50px;
    position:absolute;
    right:-3px;
    top:97px;
    opacity:var(--a);
    transition:all 0.3s ease-out;

}
.card> *{
    padding-top:5px;
}
.card img{
    width:100%;
   object-fit: contain;
   
}
.card h3{
    margin: 5px;
}
.card h6{
    margin:3px 5px;
}
.playbar{
    position:absolute;
    bottom:0;
    background-color: #212121;
    width:94.5%;
    padding:12px;
    border-radius: 30px;

}
.songbuttons{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:18px;
}
.seekbar{
    height:5px;
    border:1px  solid rgb(85, 85, 85);
    width:96%;
    position:absolute;
    bottom:1px;
    border-radius:30px;
    background-color: rgb(85, 85, 85);
    margin:0 6px;
    cursor: pointer;

}
.circle {
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);  /* Set the circle color to red */
    border-radius: 50%;
    position: absolute;
    transition: left 0.5s ;
    bottom: -1.8px;
    left: 0%;
    transform: translateX(-50%);
}
.songbuttons{
    width:320px;
}
.songbutton{
  cursor: pointer;

}
.songbutton:hover{
    transform: scale(1.15);
    
}
.songinfobuttontime{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
}
.songinfo{
    width:320px;
    color:white;
    font-size: 13px;
}
.songtimecover{
    position:relative;
    width:320px;
    display:flex;
    align-items: center;
}
.songtime{
   position: absolute;
   right:50px;
 
    color:white; font-size: 13px;
}
.vol{
    position: absolute;
    right:10px;
    cursor: pointer;
}
.vol:hover::after{
    
    color:red;
}
 
.hamburgur{
    display:none;
}
@media (max-width: 1280px) {
    .left{
         
        position: absolute;
        left:-100%;
        transition: all .3s;
        z-index: 1;
        width:340px;
        background-color:black;
        height:98.1vh;
        padding:0;
    }
    .playbar{
        width :92vw;
    }
    .right{
        width:100vw;
        height:98.1vh;
    }
    .hamburgur{
        display: inline-block;
    }
    .library{
        height:68.5vh;
    }
    .songinfo{
        font-size: 12px;
        width:auto;
    }
    .songtime{
        font-size: 11px;

    }
   
    .spotifyplaylist .card{
        width:347px;
    }
    .card-container{
        justify-content: center;
        margin:20px 0px;
    }
    .playbutton svg{
     
        position:absolute;
        right:20px;
        top:255px;
        height:100px;
        width:100px;
    }
}

@media screen and (min-width: 330px) and (max-width: 400px) {
    .playbar{
        width:82vw;
    }
    .seekbar{
        max-width:300px;
    }
    .library{
        height:65vh;
    }
    
}
@media screen and (min-width: 400px) and (max-width: 600px) {
    .playbar{
        width:85vw;
    }
    .seekbar{
        max-width:80vw;
    }
    .library{
        height:74vh;
    }
}
@media screen and (min-height: 700px) and (max-height: 900px) {
    .library{
        height:71vh;
    }
}
@media screen and (min-width: 330px) and (max-width: 600px) {
    .playbar{
        height:60px;
    }
    .songinfobuttontime{
        display: flex;
        flex-direction: column ;
        justify-content: center;
        align-items: center;
        height: 100%; /* Set the height of the playbar to 100% to take up the full height of its parent */
        gap:10px;
    }
    .songinfo{
        width:170px;
    }
    .songtime{
        left:43%;
    }
    .vol{
         bottom:10px;
         right:10%
    }
    
    .seekbar{
        margin:-5px 6px;
    }
}    

@media screen and (max-width:480px){
    .prev-svg{
   
        display:inline-block;
        position:relative;
        width: 8px; /* Adjust the width and height as needed */
        height: 8px;
        background-color: #161616; /* Circular grey background color */
        border-radius: 50%; /* Make the container circular */
        padding: 9px; 
        box-sizing: content-box;
    }
    .next-svg{
   
        display:inline-block;
        position:relative;
        width: 8px; /* Adjust the width and height as needed */
        height: 8px;
        background-color: #161616; /* Circular grey background color */
        border-radius: 50%; /* Make the container circular */
        padding: 9px; 
        box-sizing: content-box;
    }
        .hamburgur img{
            width:28px;
            height:28px;
        }
        
        .loginbtn{
            font-size:13px;
            cursor: pointer;
            width:70px;
            height:35px;
            background-color:white;
            color:black;
            border:none;
            outline:none;
            font-weight: bold;
            padding:13px 13px;
            border-radius: 28px;    
        }
        .signupbtn{
            font-size:13px;
            cursor: pointer;
            width:70px;
            height:35px;
            background-color: #212121;
            color:rgb(203, 203, 203);
            border:none;
            outline:none;
            font-weight: bold;
            padding:13px 13px;
            border-radius: 28px;    
        }
        .mainnav{
            gap:7px;
        }
        .spotifyplaylist h1{
            font-size:22.5px;
        }
        .spotifyplaylist h3{
            font-size:19.5px;
        }
        .spotifyplaylist h6{
            font-size:14px;
        }
}